{% extends "base.html" %}
{% block content %}
    <h1>Добро пожаловать!</h1>
    <p>Информационно-вычислительный центр НГТУ. Панель администрирования</p>

    {% if current_user.is_authenticated %}
        <p>Привет, {{ current_user.username }}!</p>
        <p>Выберете необходимый раздел</p>
    {% else %}
        <div class="form-container">
            <form method="post" action="{{ url_for('login') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class="form-control") }}
                    {% for error in form.username.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                    {% for error in form.password.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </div>
                <button type="submit" class="button">Войти</button>
            </form>
        </div>
    {% endif %}
{% endblock %}